@charset "UTF-8";
h1 {font-size: 2.5rem}
h2 {font-size: 1.8rem}
h3 {font-size: 1.4rem}
/*
- 가로 크기 1100px
- 왼쪽에 로고 배치
- 오른쪽에 회원 링크 배치
*/

.header {position: fixed; width: 100%; }
.header .logo {position: absolute; left: 0; top: 0; width: 10.25rem; height: 10rem; padding-left: 5rem}
.header .join {position: absolute; right: 0; top: 0;}
.header .join ul li {display: inline-block;}
.nav {font-size: 16px; font-weight: bold; line-height: 10rem;}
.nav ul {background: #fff; height: 10rem;}
.nav ul > li {display: inline-block;}
.nav li ul {background: rgb(109,109,109); display: none; height: auto; position:absolute; width:200px; z-index:200;}
.nav li div {display: none;}






.content-wrap {width: 100%; max-width: 144rem; min-width: 102.4rem; margin: 0 auto; padding-top: 40rem;}
.banner {text-align: center;}

.so {padding: 0 1.5rem;}
.so > h1 {display: inline-block; padding: 0 0.5rem;}
.so > div:nth-child(2) {display: inline-block; float: right;}
.so > div:nth-child(3) {width: 82rem;}
.so > div:nth-child(3) > div {display: inline-block; width: 15rem; padding: 0 0.5rem;}

.section {display: flex;}

.hat {padding: 0 1.5rem; width: 23%;}
.hat > h1 {padding: 0 0.5rem;}
.hat > div {display: flex; width: 26rem; flex-wrap: wrap;}
.hat > div > div {width: 12rem; padding: 0 0.5rem;}

.ifus {padding: 0 1.5rem; width: 70%}
.ifus > ul li {display: inline-block;}
.ifus > ul:last-child > li a > div:first-child {width: 25rem; height: 25rem;}

/* 트렌드 */
.trend {padding: 0 1.5rem;}
.tab-wrap > .tab-box-container > .tab-box > a {display: inline-block; width: 12rem;}
.tab-menu {display:flex;}
.tab-btn {background: none; outline: 0; cursor: pointer; width: 30rem; height: 6rem; transition: 0.3s all;}
.tab-btn.on {border-bottom:2px solid #df0000; font-weight:700; color:#df0000;}
.tab-btn:hover {color:#df0000;}
.tab-box {display: none;}
.tab-box.on {display: block;}






@media screen and (max-width: 600px) {
	
	
}

@media screen and (max-width: 768px) {
.header .logo {padding-left: 1rem;}
	
} 

@media screen and (min-width: 1200px) {

	
}















