@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,800|Open+Sans:400,600,800&display=swap&subset=korean');
/* ------- 공통 요소 ------- */
body, input, select, textarea, button, a {font-family: 'Nanum Gothic', 'Open Sans', sans-serif; }
body {font-size: 16px; color: #495662; letter-spacing: 0.01em;}
p {line-height: 25px;}
.jombo_tt {font-size: 70px;}
.content_tt {font-size: 45px;}
.content_tt.left {text-align: left;}
.content_tt.center {text-align: center;}
.heading_1 {font-size: 40px;}
.heading_2 {font-size: 33px;}
.heading_3 {font-size: 28px;}
.heading_4 {font-size: 25px;}
.heading_5 {font-size: 20px;}
.heading_6 {font-size: 15px;}
.btn {height: 50px; line-height: 48px; padding: 0 40px; border: 1px solid #fff; font-size: 16px; text-transform: uppercase; box-sizing: border-box; display: inline-block; transition: 0.3s;}
.btn:hover {background: #ff3c1f; border-color: #ff3c1f;}
.hidden {display: none;}
/* ------- 헤더 ------- */
header {position: relative; z-index: 1;}
header .top_navigation {border-bottom: 1px solid #e6e8eb; padding: 22px 0; background: #fff;}
.contact_list, .social_list {display: flex;}
.contact_list li {margin-left: 20px; font-size: 12px;}
.contact_list li a:hover {color: #ff9900;}
.contact_list li span {margin-right: 10px;}
.contact_list li span:first-child {font-size: 16px; line-height: 16px; color: #563540;}
.social_list li {padding: 0 5px;}
.social_list li a {font-size: 14px;}
.social_list li a:hover {color: #ff9900;}
/* .main_navigation {padding: 10px; background: #fff; border-bottom: 1px solid #e6e8eb;}
.gnb, .gnb ul {display: flex;}
.logo {margin-right: 81px;}
.logo a {display: flex; width: 110px; height: 100px; text-indent: -9999em;}
.gnb ul li {margin-right: 41px;}
.gnb ul li a {line-height: 100px; color: #495662; font-weight: 800;}
.gnb ul li a:hover {color: #ff5912;}
.member_nav {display: flex; align-items: center;}
.member_nav li {margin-left: 34px;}
.member_nav li a {font-size: 18px; color: #563540;}
.member_nav li a:hover {color: #ff9900;}
.search {position: absolute; left: 0; right: 0; top: 0; padding: 20px 0; text-align: center; box-shadow: 0 5px 5px rgba(0,0,0,.1); background: #fff; z-index: -1; transition: 0.5s;}
.search.active {top: calc(100%);}
.search form input[type="text"] {height: 40px; border: none; border-bottom: 1px solid #34404b; width: 540px; display: inline-block;}
.search button {border: none; background: none; vertical-align: bottom; font-size: 18px;} */
.main_navigation {padding: 10px; border-bottom: 1px solid #e6e8eb;}
.main_navigation ul li a {color: #495662; font-weight: 800;}
.navbar-brand {display: flex; width: 110px; height: 100px; text-indent: -9999em;}
.sticky.is-sticky {position: fixed; left: 0; right: 0; top: 0; width: 100%; z-index: 1000;}
.search {position: absolute; left: 0; right: 0; top: 0; padding: 20px 0; text-align: center; box-shadow: 0 5px 5px rgba(0,0,0,.1); background: #fff; z-index: -1; transition: 0.5s;}
.search.active {top: calc(100%);}
.search form input[type="text"] {height: 40px; border: none; border-bottom: 1px solid #34404b; width: 50%; max-width: 540px; min-width: 200px; display: inline-block;}
.search button {border: none; background: none; vertical-align: bottom; font-size: 18px;}
/* ------- 메인 슬라이더 ------- */
.slider {position: relative;}
.slider img {height: 300px;}
.slider button {position: absolute; z-index: 1; top: 50%; transform: translateY(-100%); width: 51px; height: 51px; border-radius: 100%; background: rgba(0,0,0,.5); border: none;}
.slider button.slick-prev {left: 50px; color: #fff; font-size: 20px;}
.slider button.slick-next {right: 50px; color: #fff; font-size: 20px;}
/* .main_slider .slides h2 {margin-bottom: 60px; color: #fff;}
.main_slider .slides p {margin-bottom: 60px; color: #fff; font-size: 50px; line-height: 65px; font-family: 'Noto Sans KR', sans-serif; font-weight: 400; width: 920px;}
.slide_wrapper .bx-wrapper {position: relative;}
.slide_wrapper {position: relative;}
.bx-controls-direction a {position: absolute; top: 40%; color: #fff; font-size: 2em;}
.bx-controls-direction a.bx-prev {left: -100px;}
.bx-controls-direction a.bx-next {right: -100px;}
.main_slider .bx-pager {position: absolute; left: 0; right: 0; bottom: 0; display: flex; justify-content: center;}
.main_slider .bx-pager .bx-pager-item {margin: 0 9px;}
.main_slider .bx-pager .bx-pager-item a {display: block; width: 22px; height: 22px; border: 1px solid #abb3c0; text-indent: -9999em; box-sizing: border-box; transition: 0.3s;}
.main_slider .bx-pager .bx-pager-item a.active {background: #fff;} */



/* .header {position: fixed; width: 100%; min-width: 102.4rem; min-height: 10rem; text-align: center; background: #fff; z-index: 9999;}
#menuicon {display: none;}
#menuicon + label {display: block; width: 60px; height: 40px; position: fixed; right: 0; top: 0; transition: all .35s; cursor: pointer;}
#menuicon + label span {display: block; position: absolute; width: 100%; height: 5px; border-radius: 30px; background: #000; transition: all .35s;}
#menuicon + label span:nth-child(1) {top: 0;}
#menuicon + label span:nth-child(2) {top: 50%; transform: translateY(-50%);}
#menuicon + label span:nth-child(3) {bottom: 0;}
#menuicon:checked + label {z-index: 2; right: 300px;}
#menuicon:checked + label span:nth-child(1) {top: 50%; transform: translateY(-50%) rotate(45deg);}
#menuicon:checked + label span:nth-child(2) {opacity: 0;}
#menuicon:checked + label span:nth-child(3) {bottom: 50%; transform: translateY(50%) rotate(-45deg);}
.sidebar {width: 300px; height: 100%; background: #222; position: fixed; top: 0; right: -300px; z-index: 1; transition: all .35s;}
#menuicon:checked + label + div {right: 0;}
.logo {position: absolute; left: 5rem; top: 0;}
.logo a {display: block; width: 10.25rem; height: 10rem; color: transparent;}
.nav {width: 100%; font-size: 1.6rem;}
.nav > ul {position: relative;}
.nav > ul > li {display: inline-block;}
.nav > ul > li > a {display: block; height: 10rem; padding: 0 4rem; color: #333; font-size: 1.7rem; line-height: 10rem;}
.nav > ul > li > a span {position: relative;}
.nav > ul > li > a:hover {color: #005580; font-weight: bold;}
.nav > ul > li > a:hover span:after {content: ""; display: block; position: absolute; left: 0; bottom:-2rem; width: 100%; height: 1px; background: #005580;}
.nav .sub {position: absolute; left: -50%; width: 200%; height: 0; overflow: hidden; background: #fff; transition: height 0.3s;}
.nav .sub .sub_contents {margin: 0 auto; width: 82rem; text-align: left; border: 0.1rem solid #000;}
.nav .sub .sub_contents ul {display: inline-block; width: 13rem; vertical-align: top;}
.nav .sub .sub_contents li a {display: block; padding: 0.8rem 0; line-height: 2.4rem; text-indent: 1.6rem; background: #f4f4f4; color: #666; border-top: 0.1rem solid #eaeaea; box-sizing: border-box;}
.nav .sub .sub_contents li:first-child a {border-top: none;}
.nav .sub .sub_contents .brand {display: inline-block; margin: 1rem; padding: 1rem; width: 66rem; height: 14rem; vertical-align: top; color: #666; box-sizing: border-box; border: 1px solid #000;}
.nav > ul > li:hover > .sub {height: 21rem; border-bottom: 1px solid #eaeaea;}
.join {position: absolute; right: 5rem; top: 0;}
.join li {position: relative; float: left;}
.join li:after {content: ""; position: absolute; left: 0; top: 50%; width: 1px; height: 7px; background: #ccc; transform: translateY(-50%);}
.join li:first-child:after {display: none;}
.join li a {display: block; height: 10rem; padding: 0 1rem; line-height: 10rem; font-size: 1.2rem;}
.join li:last-child a {padding-right:0;}
.today-open {padding: 5rem 1.5rem 2rem;}
.today-open .contents {padding: 0 1rem;}
.today-open .contents > div:first-child {}
.today-open .contents > div:first-child h1 {display: inline-block; padding: 0 0.5rem;}
.today-open .contents > div:last-child {width: 100%; min-width: 102.4rem; margin: 0 auto;}
.today-open .contents > div:last-child > div {display: inline-block;}
.today-open .contents > div:nth-child(n+2) a {display: block; width: 18rem;}
.section {display: flex;}
.hat {padding: 0 1.5rem; width: 23%;}
.hat > h1 {padding: 0 0.5rem;}
.hat > div {display: flex; width: 26rem; flex-wrap: wrap;}
.hat > div > div {width: 12rem; padding: 0 0.5rem;}
.ifus {padding: 0 1.5rem; width: 70%}
.ifus > ul li {display: inline-block;}
.ifus > ul:last-child > li a > div:first-child {width: 25rem; height: 25rem;}
트렌드
.trend {padding: 0 1.5rem;}
.tab-wrap > .tab-box-container > .tab-box > a {display: inline-block; width: 12rem;}
.tab-menu {display:flex;}
.tab-btn {background: none; outline: 0; cursor: pointer; width: 30rem; height: 6rem; transition: 0.3s all;}
.tab-btn.on {border-bottom:2px solid #df0000; font-weight:700; color:#df0000;}
.tab-btn:hover {color:#df0000;}
.tab-box {display: none;}
.tab-box.on {display: block;} */
/* ------- 푸터 ------- */
.footer-section {background: #151414; position: relative;}
.footer-content {position: relative; z-index: 2;}
.footer-logo img {max-width: 150px;}
.footer-text p {margin-bottom: 14px; font-size: 14px; color: #7e7e7e; line-height: 28px;}
.footer-widget-heading h3 {color: #fff; font-size: 20px; font-weight: 600; margin-bottom: 40px; position: relative;}
.footer-widget-heading h3::before {content: ""; position: absolute; left: 0; bottom: -15px; height: 2px; width: 50px; background: #ff5e14;}
.footer-widget ul li {display: inline-block; float: left; width: 50%; margin-bottom: 12px;}
.footer-widget ul li a:hover {color: #ff5e14;}
.footer-widget ul li a {color: #878787; text-transform: capitalize;}
.copyright-area {background: #202020; padding: 25px 0;}
.copyright-text p {margin: 0; font-size: 14px; color: #878787;}
.copyright-text p a {color: #ff5e14;}